.contactContent {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    .leftConnect{
        width: 50%;
        
        h3 {
            font-size: 3.5rem;
            text-transform: capitalize;
            translate: 4rem -5rem;
        }
        .email{
            margin-left: 2rem;
            translate: 4rem -2rem;
            width: 70%;
            p{
                display: inline-block;
                margin-right: 0.3rem;
                font-size: 1rem;
            }
            a{
                font-size: 0.8rem;
            }
        }
         .logos{
            perspective: 1000px;
            margin-left: 2rem;
            translate: 4rem -0.7rem;
            .logo1{
             display: inline-block;
             margin: 0rem 0.5rem;
             width: 2rem;
             height: 2rem;
             padding: 0.5rem;
             border-radius: 50%;
             background-color: rgb(158, 26, 26);
             text-align: center;
             transition: all 1s linear; 
             animation: Rotate 3s linear infinite;
             transform-style: preserve-3d;
             will-change: transform;
             cursor: pointer;
             &:hover{
               transform: rotateY(360deg);
                    background-color: blue;
                  }
                  i{
                    color: rgb(255, 255, 255);
                    font-size: 1rem;

                  }
                }
              }
    }
    .rightConnect{
        width: 50%;
        padding: 0rem 1.5rem;
        translate: 0 -1rem;
        .message{
            width: 70%;
            text-align: center;
            padding: 0.8rem 1rem;
            font-size: 1.2rem;
            box-shadow: 0px 0px 5px 6px rgb(177, 224, 177);
            background-color: rgb(0, 88, 19);
            cursor: pointer;
            translate: 0rem 3rem;
        }
        form{
            width: 90%;
            .form-group{
                margin-top: 0.8rem;
                .label{
                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                }
                input,textarea{
                    &:focus{
                        box-shadow: 0px 0px 8px 6px rgb(51, 77, 194)
                    }
                }
                .btn1{
                    margin-top: 0.5rem;
                    border:3px solid transparent ;
                    font-weight: 500;
                    box-shadow: 0px 0px 8px 6px rgb(119, 194, 119);
                    &:hover{
                        background-color: white;
                        color: rgb(2, 60, 2);
                        border:3px solid rgb(2, 60, 2) ;
                        
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 600px){
    .contactContent{
        flex-direction: column;
        .leftConnect{
            width: 100%;
            h3{
                translate: 1.5rem -5rem;
            }
            .email{
                translate: 2.5rem -4rem;
            }
            .logos{
                translate: 3rem -3rem;
            }
        }
        .rightConnect{
            width: 100%;
            .message{
                width: 100%;
                translate: 0rem 1rem;
            }
            form{
                translate: 1.5rem 0rem;
            }
        }
    }
}