.skillContent{
    width: 100%;
    height: 100%;
    h3{
        margin-bottom: 0.5rem;
        font-size: 4rem;
        text-transform: capitalize;
        margin-left: 2rem;
    }
    .skill{
        height: 500px ;
        position: relative;
    }
    .skillLine{
        margin-top: 4rem !important;
    }
}
@media screen and (max-width: 600px) {
    .skillContent{
        h3{
            margin-bottom: 5.5rem;
        }
        .skillLine{
            translate: 0 3rem !important;
        }
    }
}
